<div class="category-area mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <img
          src="https://htmldemo.net/ruiz/ruiz/assets/images/banner/banner-01.jpg"
          alt=""
          class="w-100 object-fit-cover" />
      </div>
      <div class="col-lg-6 col-md-6">
        <img
          src="https://htmldemo.net/ruiz/ruiz/assets/images/banner/banner-02.jpg"
          alt=""
          class="w-100 object-fit-cover" />
      </div>
    </div>
  </div>
</div>
