<div class="return-policy-wrapper">
  <div class="container my-5">
    <h4>Chính sách đổi trả của WatchStore</h4>
    <p>
      Trong vòng 7 ngày kể từ ngày mua hàng, nếu sản phẩm bị lỗi bên trong máy
      mà do nhà sản xuất thì quý khách có thể yêu cầu đổi sang mặt hàng mới
      khác, quý khách vui lòng gửi sản phẩm lỗi về
    </p>
    <div>
      <h5 class="text-uppercase">Chính sách đổi hàng</h5>
      <p>
        Trong vòng 7 ngày kể từ ngày mua hàng, nếu sản phẩm bị lỗi bên trong máy
        mà do nhà sản xuất thì quý khách có thể yêu cầu đổi sang mặt hàng mới
        khác, quý khách vui lòng gửi sản phẩm lỗi về địa chỉ công ty của chúng
        tôi (phía dưới chân trang web này). WatchStore sẽ thẩm định kỹ càng và
        xác định đúng là do lỗi nhà sản xuất thì chúng tôi sẽ tiến hành gửi mẫu
        mới tương tự cho quý khách và chịu toàn bộ phí ship cho khách hàng.
      </p>
      <p>
        Đối với trường hợp đổi hàng do không ưng ý, quý khách vui lòng liên hệ
        lại ngay với WatchStore trong vòng 1-2 ngày (kể từ ngày nhận hàng). Sản
        phẩm phải còn nguyên seal, chưa có dấu hiệu sử dụng... chúng tôi sẽ kiểm
        tra, nếu đủ điều kiện, nhân viên tư vấn sẽ liên hệ để hướng dẫn bạn đổi
        sang mẫu khác. WatchStore sẽ hỗ trợ đổi 01 lần trong trường hợp quý
        khách không ưng ý và sẽ chỉ đổi sang mẫu bằng hoặc cao giá hơn. Trường
        hợp quý khách đổi sang mẫu thấp tiền hơn, WatchStore sẽ không hoàn lại
        tiền dư.
      </p>
      <p>
        Trong trường hợp lỗi xuất phát từ phía người dùng ví dụ: đánh rơi, va
        đập mạnh, sơ ý để nước thấm vào bên trong máy, chúng tôi sẽ hoàn toàn
        không chịu trách nhiệm và chỉ hỗ trợ khách hàng sửa chữa (tất nhiên
        chúng tôi sẽ cố gắng giảm thiểu chi phí nhất cho khách hàng).
      </p>
      <p>
        Ngoài ra trong thời gian bảo hành 5 năm nếu máy bị lỗi, hỏng do nhà sản
        xuất, chúng tôi sẽ tiến hành sửa chữa miễn phí cho khách hàng.
      </p>
    </div>
    <div>
      <h5 class="text-uppercase">CÁC TRƯỜNG HỢP ĐƯỢC ĐỔI HÀNG:</h5>
      <h6>1. Đổi hàng vì không ưng ý</h6>
      <p>Những mặt hàng nào quý khách hàng được đổi lại?</p>
      <p>
        Tất cả mặt hàng mua từ WatchStore.vn đều có thể đổi trong trường hợp
        không ưng ý. Chúng tôi sẽ đổi sản phẩm khác theo yêu cầu của khách hàng
        khi sản phầm mang đổi còn nguyên vẹn. Nguyên vẹn ở đây nghĩa là hàng hóa
        phải còn đầy đủ các bộ phận, không có dấu hiệu sử dụng hoặc hỏng hóc,
        còn nguyên tag, mác sản phẩm và các phụ kiện đính kèm. Riêng đồng hồ dây
        kim loại thì phải chưa cắt mắt, tháo dây...
      </p>
      <p>
        Còn nguyên điều kiện ban đầu nghĩa là sản phẩm trong điều kiện còn mới
        nguyên bao gồm:
      </p>
      <ul>
        <li>
          Chưa xuất hiện tình trạng đã qua sử dụng, bề mặt vỏ đồng hồ không có
          dấu hiệu xước dù rất nhỏ.
        </li>
        <li>
          Đầy đủ các phụ kiện: Hộp,túi, tem, phiếu bảo hành, tem thương hiệu và
          hướng dẫn kỹ thuật, hóa đơn v.v…
        </li>
      </ul>
      <h6>2. Khi nhận hàng</h6>
      <p>
        Khách hàng vui lòng kiểm tra hàng hóa trước khi thanh toán. Trong trường
        hợp sản phẩm của khách hàng bị hư hại trong quá trình vận chuyển, quý
        khách vui lòng từ chối nhận và gửi lại sản phẩm cho cửa hàng. Đồng thời
        báo ngay cho bên bộ phận hỗ trợ khách hàng để chúng tôi gửi cho quý
        khách mặt hàng khác.
      </p>
      <h6>3. KHÔNG NHẬN HÀNG vì sản phẩm giao không đúng theo đơn đặt hàng</h6>
      <p>
        Bạn nghĩ rằng sản phẩm giao cho bạn không đúng với đơn đặt hàng? Hãy
        liên hệ với chúng tôi càng sớm càng tốt, hệ thống của chúng tôi sẽ kiểm
        tra có đúng hàng của bạn bị gửi nhầm không. Trong trường hợp đó, chúng
        tôi sẽ thay thế đúng mặt hàng bạn yêu cầu (khi có hàng).
      </p>
      <h6>CÁCH THỨC ĐỔI HÀNG:</h6>
      <ul>
        <li>
          Đối với các giao dịch đổi sang sản phẩm có giá thành bằng hoặc cao hơn
          sản phẩm cũ, sau khi kiểm tra, hàng đổi lại còn nguyên vẹn, quý khách
          sẽ thanh toán thêm số tiền chênh lệch của hai sản phẩm này.
        </li>
        <li>
          Trong trường hợp đổi hàng do không ưng ý, quý khách vui lòng đổi mẫu
          bằng hoặc cao hơn giá trị sản phẩm đã đặt. Nếu đổi sản phẩm khác có
          giá thấp hơn, WatchStore KHÔNG HOÀN LẠI tiền chênh lệch.
        </li>
        <li>
          Phụ thuộc vào cách thức bạn thanh toán khi mua hàng. Hãy liên hệ với
          bộ phận chăm sóc khách hàng của chúng tôi để được làm rõ với từng
          trường hợp riêng biệt
        </li>
      </ul>
      <h6>ĐỊA ĐIỂM ĐỔI NHẬN HÀNG</h6>
      <p>
        Quý khách vui lòng đóng gói sản phẩm thật cẩn thận (đầy đủ các lớp chống
        sốc, chống va đập) sau đó gửi về địa chỉ:
      </p>
      <p>Showroom WatchStore</p>
      97 Trần Đại Nghĩa, HBT, Hà Nội
      <p>
        Chúng tôi khuyến nghị quý khách tìm hiểu thật kỹ sản phẩm trước khi đặt
        hàng. Liên hệ qua Hotline/ Zalo để WatchStore tư vấn mọi thắc mắc của
        quý khách.
      </p>
      <p>
        Chúc quý khách hàng mua sắm vui vẻ và có trải nghiệm tuyệt vời tại
        WatchStore!
      </p>
    </div>
  </div>
</div>
