<div class="banner-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="/assets/images/banners/banner-01.jpg" alt="" class="w-100" />
      </div>
      <div class="col-lg-6">
        <div class="banner-content-wrapper">
          <h2 class="font-play-fair fw-normal text-size-6xl">
            Bộ Sưu Tập Đông 2023
          </h2>
          <div class="content text-size-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
            ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel facilisis.
          </div>
          <div class="banner-btn">
            <a
              href=""
              class="text-uppercase fw-500 color-white d-inline-block rounded-0"
              >Shop The Look</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
