@import "text-size";
@import "color";

.banner-area {
  padding: 89px 0 120px 0;

  .banner-content-wrapper {
    padding: 127px 0 0 30px;

    h2 {
      color: #222222;
      letter-spacing: 0px;
    }

    .content {
      padding: 35px 0px 46px 0px;
    }

    .banner-btn a {
      background-color: #222222;
      padding: 17px 41px;
    }
  }
}

@media screen and (max-width: 992px) {
  .banner-area {
    padding: 80px 0;

    .banner-content-wrapper {
      padding-top: 60px;

      .content {
        padding: 20px 0;
      }

      h2 {
        font-size: 32px;
      }

      .banner-btn a {
        padding: 13px 25px;
      }
    }
  }
}
