<div class="banner-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="/assets/images/banners/banner-01.jpg" alt="" class="w-100" />
      </div>
      <div class="col-lg-6">
        <div class="banner-content-wrapper">
          <h2 class="fw-normal text-size-6xl">Bộ Sưu Tập Đông 2023</h2>
          <div class="content text-size-medium">
            Thu đông chính là dịp để những xu hướng thời trang mới nhất lên
            ngôi, những tín đồ của giới thời trang mộ điệu luôn bắt nhịp để hoàn
            thiện outfit sành điệu và thời thượng nhất của mình. Watch Store cập
            nhật bộ sưu tập với những mẫu đồng hồ mới, những items với tone màu
            và điểm nhấn thật trendy và nổi bật.
          </div>
          <div class="banner-btn">
            <a
              (click)="router.navigate(['/collections']).then()"
              class="text-uppercase fw-500 color-white cursor-pointer d-inline-block rounded-0"
              >Mua sắm ngay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
