<div class="swiper-partners pb-60">
  <div class="container">
    <swiper
      [slidesPerView]="5"
      [centeredSlides]="false"
      [spaceBetween]="16"
      slideActiveClass="swiper-active"
      [navigation]="false"
      [pagination]="false"
      [autoplay]="{ delay: 500, disableOnInteraction: false }"
      [virtual]="true"
      [speed]="2000">
      <ng-container>
        <ng-template swiperSlide *ngFor="let partner of PARTNERS">
          <img [src]="partner" alt="" class="object-fit-cover w-100" />
        </ng-template>
      </ng-container>
    </swiper>
  </div>
</div>
