<footer class="footer">
  <div class="footer-top py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="widget-footer">
            <h6 class="title-widget mb-4 text-uppercase">Về watchstore</h6>
            <ul class="footer-list">
              <li><a>Về Chúng Tôi</a></li>
              <li><a>Kiến thức về đồng hồ</a></li>
              <li><a>Tin tức</a></li>
            </ul>
            <ul class="social-icons">
              <li *ngFor="let social of SOCIAL_ICONS">
                <a
                  class="social-icon color-white"
                  [style.backgroundColor]="social.bgColor">
                  <i [class]="social.icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget-footer">
            <h6 class="title-widget mb-4 text-uppercase">Chính sách chung</h6>
            <ul class="footer-list">
              <li><a>Điều khoản thanh toán</a></li>
              <li><a>Chính sách bảo hành</a></li>
              <li><a>Chính sách bảo mật</a></li>
              <li><a>Chính sách vận chuyển</a></li>
              <li><a>Chính sách đổi trả</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="widget-footer mb-4">
            <h6 class="title-widget mb-4 text-uppercase">Cửa hàng Hà Nội</h6>
            <ul class="footer-list">
              <li *ngFor="let branch of BRANCH_HA_NOI">
                <div class="mb-1">
                  <i class="fa-solid fa-location-dot color-blue me-1"></i>
                  <span class="fw-500">{{ branch.address }}</span>
                </div>
                <p class="d-flex align-items-center">
                  <span>Mở cửa: {{ branch.time }}</span>
                  <span class="mx-1">|</span>
                  <a [href]="branch.map">Chỉ đường</a>
                </p>
              </li>
            </ul>
          </div>
          <div class="widget-footer">
            <h6 class="title-widget mb-4 text-uppercase">
              Cửa hàng Hồ Chí Minh
            </h6>
            <ul class="footer-list">
              <li *ngFor="let branch of BRANCH_HO_CHI_MINH">
                <div class="mb-1">
                  <i class="fa-solid fa-location-dot color-blue me-1"></i>
                  <span class="fw-500">{{ branch.address }}</span>
                </div>
                <p class="d-flex align-items-center">
                  <span>Mở cửa: {{ branch.time }}</span>
                  <span class="mx-1">|</span>
                  <a [href]="branch.map">Chỉ đường</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="widget-footer">
            <h6 class="title-widget mb-4 text-uppercase">Liên hệ hỗ trợ</h6>
            <ul class="footer-list">
              <li>Hotline 1: 093.189.2222</li>
              <li>Hotline 2: 097.189.3333</li>
              <li>Hotline 3: 096.139.5555</li>
              <li>Phản ánh: info&#64;watchstore.vn</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="copy-left-text">
            <p>Copyright © HOU 2023. All Right Reserved.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="copy-right-image">
            <img
              src="assets/images/footer/img-payment.webp"
              alt=""
              class="mw-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
