<footer class="footer">
  <div class="footer-top py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="widget-footer">
            <h6 class="title-widget mb-4 text-uppercase">Về watchstore</h6>
            <ul class="footer-list">
              <li
                (click)="router.navigate(['/about']).then()"
                class="cursor-pointer">
                <a>Về Chúng Tôi</a>
              </li>
              <li
                (click)="router.navigate(['/promotions']).then()"
                class="cursor-pointer">
                <a>Tin tức</a>
              </li>
            </ul>
            <ul class="social-icons">
              <li *ngFor="let social of SOCIAL_ICONS">
                <a
                  class="social-icon color-white"
                  [style.backgroundColor]="social.bgColor">
                  <i [class]="social.icon"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="widget-footer">
            <h6 class="title-widget mb-4 text-uppercase">Chính sách chung</h6>
            <ul class="footer-list">
              <li><a>Chính sách bảo mật</a></li>
              <li class="cursor-pointer">
                <a href="/return-policy">Chính sách đổi trả</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="widget-footer mb-4">
            <h6 class="title-widget mb-4 text-uppercase">Địa chỉ cửa hàng</h6>
            <ul class="footer-list">
              <li>
                <div class="mb-1">
                  <i class="fa-solid fa-location-dot color-blue me-1"></i>
                  <span class="fw-500"
                    >97 Trần Đại Nghĩa, P. Bách Khoa, Hai Bà Trưng, Hà Nội</span
                  >
                </div>
                <p class="d-flex align-items-center">
                  <span>Mở cửa: 8h30 - 22h45</span>
                  <span class="mx-1">|</span>
                  <a
                    href="https://www.google.com/maps/place/WatchStore/@21.0040587,105.8406132,17z/data=!3m1!4b1!4m6!3m5!1s0x3135ad3069755481:0x3a32977628b17570!8m2!3d21.0040538!4d105.8454841!16s%2Fg%2F11k4xt3kvc?hl=vi-VN&entry=ttu"
                    >Chỉ đường</a
                  >
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
          <div class="widget-footer">
            <h6 class="title-widget mb-4 text-uppercase">Liên hệ hỗ trợ</h6>
            <ul class="footer-list">
              <li>Hotline 1: 093.189.2222</li>
              <li>Hotline 2: 097.189.3333</li>
              <li>Hotline 3: 096.139.5555</li>
              <li>Phản ánh: info&#64;watchstore.vn</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="copy-left-text">
            <p>Copyright © HOU 2023. All Right Reserved.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="copy-right-image">
            <img
              src="assets/images/footer/img-payment.webp"
              alt=""
              class="mw-100" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
