@import "color";
@import "text-size";

.header {
  .header-top {
    border-bottom: 1px solid $gray-lighter;

    .logo-area {
      width: 200px;
    }

    .search-box-wrapper {
      max-width: 670px;
      width: 415px;

      input {
        height: 46px;
        border-radius: 4px 0 0 4px;
        border: 1px solid $gray-lighter;
      }
    }

    .search-btn button {
      width: 50px;
      height: 46px;
      border-radius: 0 4px 4px 0;
    }

    .card-total {
      background-color: $primary-color;
      border-radius: 100%;
      color: $white;
      float: left;
      font-size: $text-xx-small;
      font-weight: 500;
      height: 20px;
      line-height: 22px;
      width: 20px;
      position: absolute;
      text-align: center;
      text-transform: capitalize;
      top: -10px;
      right: 0px;
    }
  }

  .header-bottom {
    border-bottom: 1px solid $gray-lighter;

    .main-navigation {
      ul > li {
        display: inline-block;
        position: relative;
        padding: 1rem 0;
        margin-right: 3.5rem;
      }

      ul > li > a {
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        align-items: center;
        transition: 0.4s;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
