@import "color";

.btn-primary {
  color: #515151;
  background-color: #e9e6ed;
  border: 0;
  padding: 12px;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.form-control {
  height: 50px;
  background-color: #e9e8e7;
  max-width: 600px;

  &:focus {
    background-color: $white;
  }
}

.color-gray {
  color: #868686;
}
