.header-image-wrapper {
  position: relative;
  overflow: visible;
}

::ng-deep .bg-swiper .swiper-wrapper .swiper-slide > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 599px) {
  .header-image-wrapper {
    margin-top: 0;
  }
}
