@import "text-size";
@import "color";

.header-image-wrapper {
  height: 500px;
}

.bg-swiper {
  z-index: -1;
}

.mask {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-content {
  z-index: 3;
  top: 50%;
  color: $white;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.btn-bordered {
  line-height: 24px;
  padding: 10px 40px;
  font-size: $text-small;
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  border-color: $white;
  color: $white;
}
