<div
  class="single-product position-relative cursor-pointer"
  (click)="redirectDetail(productItem.id)">
  <div class="product-thumb position-relative">
    <a>
      <img
        [src]="createCloudinaryThumbLink(productItem.coverImage)"
        alt=""
        class="primary-image w-100 mw-100" />
      <div class="label-product label-new">Mới</div>
      <div class="actions-link position-absolute text-center w-100">
        <a
          class="cart-btn"
          title="Thêm vào giỏ"
          (click)="$event.stopPropagation()">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a
          class="wishlist-btn"
          title="Thêm vào yêu thích"
          (click)="$event.stopPropagation()">
          <i class="fa-regular fa-heart"></i>
        </a>
        <a
          class="quick-view cursor-pointer"
          title="Xem chi tiết"
          (click)="onOpenQuickViewProductModal($event)">
          <i class="fa-regular fa-eye"></i>
        </a>
      </div>
    </a>
  </div>
  <div class="product-caption">
    <h4 class="product-name text-size-small">
      {{ productItem.name }}
    </h4>
    <div class="price-box text-size-medium mb-2">
      <span class="new-price fw-600"
        >{{ minPriceOfProduct?.price | formatPrice }}đ</span
      >
    </div>
    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
      <i
        class="fa-star"
        [class.fa-solid]="star <= productItem?.ratingStar"
        [class.fa-regular]="star > productItem?.ratingStar"></i>
    </ng-container>
  </div>
</div>
