@import "color";
@import "text-size";

.shop-item-filter-list li .active {
  color: $primary-color;
}

.shop-item-filter-list li a {
  margin-right: 10px;
  font-size: $text-medium;
}

.shop-top-bar {
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 3px;
}

.product-sort p {
  width: 40%;
}

.filter-btn {
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding: 0 16px;
  height: 40px;
  line-height: 38px;
}

.filter-dropdown {
  top: calc(100% + 10px);
  width: 800px;
  border: thin solid #e0dede;
  border-radius: 1em;
  background: $white;
  z-index: 10;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  cursor: default;
}

.filter-item {
  background: $white;
  border: thin solid #e0dede;
  margin-right: 10px;
  border-radius: 6px;
  font-weight: 400;
  padding: 2px 10px;
  font-size: 13px;
  border-width: thin;
  cursor: pointer;

  input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    left: -99999px;
  }
}

.filter-footer {
  border-top: thin solid #ddd;
  padding-top: 1rem;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;

  a {
    border: thin solid #ddd;
    border-radius: 6px;
    font-size: 13px;
    padding: 3px 16px;
    cursor: pointer;
    font-weight: 400;
  }

  .apply-filter {
    margin-left: 1rem;
    background: $primary-color;
    color: $white;
  }
}

.filter-active {
  border: 1px solid $primary-color;
  color: $primary-color;
}

.general-filter-container {
  height: 40vh;
  max-height: 50vh;
  overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
  .hide-filter {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 769px) {
  .filter-dropdown {
    position: fixed !important;
    max-width: 92vw !important;
    top: 50% !important;
    left: calc(50% - 1.5vw) !important;
    transform: translate(-50%, -50%) !important;
  }
}

@media only screen and (max-width: 800px) and (min-width: 769px) {
  .filter-dropdown {
    left: calc(50% - 1.5vw) !important;
  }
}

@media only screen and (max-width: 768px) {
  .filter-dropdown {
    position: fixed !important;
    max-width: 96vw !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
