@import "color";
@import "text-size";

.shop-box-area {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 20px;
}

.shop-sidebar h4 {
  font-size: $text-medium;
  font-weight: 500;
  color: $black;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: #ebebeb;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
  }
}

.shop-item-filter-list li .active {
  color: $primary-color;
}

.shop-item-filter-list li a {
  margin-right: 10px;
  font-size: $text-medium;
}

.category-sub-menu ul li.has-sub > a {
  color: #363f4d;
  cursor: pointer;
  display: block;
  font-size: $text-small;
  line-height: 14px;
  padding: 10px 0 10px 0px;
  position: relative;
}

.category-sub-menu ul li.has-sub > a:after {
  color: $brown;
  content: "";
  font-family: FontAwesome;
  font-size: $text-small;
  position: absolute;
  right: 5px;
}

.filter-price-wapper .add-to-cart-button {
  background: $brown;
  display: inline-block;
  font-weight: 500;
  padding: 4px 13px;
  right: 0;
  color: $white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.filter-price-cont {
  font-size: $text-x-small;
  margin-bottom: 10px;
}

.sidebar-tag li {
  display: inline-block;
}

.sidebar-tag li > a {
  border: 1px solid #ddd;
  color: $brown;
  font-size: $text-x-small;
  margin: 10px 10px 0 0;
  padding: 4px 15px;
  border-radius: 5px;
  text-transform: capitalize;
}

.shop-top-bar {
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 3px;
}

.product-sort p {
  width: 40%;
}
