<div class="main-content-wrap shop-page pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 order-lg-2 order-1">
        <div class="shop-product-wrapper">
          <div
            class="filter-container d-flex align-items-center mb-3 gap-2 flex-wrap position-relative">
            <div
              (click)="toggleFilter($event, 'general')"
              class="filter-btn customize-scrollbar d-flex align-items-center justify-content-between gap-1 cursor-pointer">
              <span class="material-symbols-outlined"> tune </span>
              <span>Bộ lọc</span>

              <div
                class="position-absolute filter-dropdown p-3"
                *ngIf="showFilter['general']">
                <h6 class="border-bottom text-size-small mb-3 pb-2">
                  Filter đã chọn
                </h6>
                <div class="general-filter-container">
                  <div class="mb-3">
                    <h6 class="mb-2 text-size-small">Thương hiệu</h6>
                    <div class="filter-brand-check d-flex flex-wrap">
                      <div
                        class="filter-item mb-2"
                        *ngFor="let category of categories"
                        [class.filter-active]="
                          category.id === activeFilters['categoryId']
                        "
                        (click)="filterBy($event, 'categoryId', category.id)">
                        <input type="checkbox" />
                        <span>{{ category.name }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <h6 class="mb-2 text-size-small">Lọc theo giá</h6>
                    <div class="filter-brand-check d-flex flex-wrap">
                      <div
                        class="filter-item mb-2"
                        *ngFor="let price of PRICE_FILTER"
                        [class.filter-active]="price.id === activePrice"
                        (click)="filterByPrice($event, price)">
                        <input type="checkbox" />
                        <span>{{ price.label }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <h6 class="mb-2 text-size-small">Hình dạng</h6>
                    <div class="filter-brand-check d-flex flex-wrap">
                      <div
                        class="filter-item mb-2"
                        *ngFor="let faceShape of FILTER_FACE_SHAPE"
                        [class.filter-active]="
                          faceShape.key === activeFilters['faceShape']
                        "
                        (click)="filterBy($event, 'faceShape', faceShape.key)">
                        <input type="checkbox" />
                        <span>{{ faceShape.label }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <h6 class="mb-2 text-size-small">Chất liệu kính</h6>
                    <div class="filter-brand-check d-flex flex-wrap">
                      <div
                        class="filter-item mb-2"
                        *ngFor="
                          let glassSurface of FILTER_GLASS_SURFACE_MATERIAL
                        "
                        [class.filter-active]="
                          glassSurface.key === activeFilters['glassSurface']
                        "
                        (click)="
                          filterBy($event, 'glassSurface', glassSurface.key)
                        ">
                        <input type="checkbox" />
                        <span>{{ glassSurface.label }}</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-2 text-size-small">Kháng nước</h6>
                    <div class="filter-brand-check d-flex flex-wrap">
                      <div
                        class="filter-item mb-2"
                        *ngFor="let waterResistance of FILTER_WATER_RESISTANCE"
                        [class.filter-active]="
                          waterResistance.key ===
                          activeFilters['waterResistance']
                        "
                        (click)="
                          filterBy(
                            $event,
                            'waterResistance',
                            waterResistance.key
                          )
                        ">
                        <input type="checkbox" />
                        <span>{{ waterResistance.label }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter-footer">
                  <a class="cursor-pointer" (click)="resetSearch()">Bỏ chọn</a>
                  <a class="apply-filter" (click)="applyFilter()"
                    >Xem kết quả</a
                  >
                </div>
              </div>
            </div>
            <div
              (click)="toggleFilter($event, 'category')"
              class="filter-btn hide-filter d-flex align-items-center justify-content-between gap-1 cursor-pointer">
              <span>Thương hiệu</span>

              <div
                class="position-absolute filter-dropdown p-3"
                *ngIf="showFilter['category']">
                <div class="filter-brand-check d-flex flex-wrap">
                  <div
                    class="filter-item mb-2"
                    *ngFor="let category of categories"
                    [class.filter-active]="
                      category.id === activeFilters['categoryId']
                    "
                    (click)="filterBy($event, 'categoryId', category.id)">
                    <input type="checkbox" />
                    <span>{{ category.name }}</span>
                  </div>
                </div>
                <div class="filter-footer">
                  <a class="cursor-pointer" (click)="resetFilter('categoryId')"
                    >Bỏ chọn</a
                  >
                  <a class="apply-filter" (click)="applyFilter()"
                    >Xem kết quả</a
                  >
                </div>
              </div>
            </div>
            <div
              (click)="toggleFilter($event, 'price')"
              class="filter-btn hide-filter d-flex align-items-center justify-content-between gap-1 cursor-pointer">
              <span>Lọc theo giá</span>

              <div
                class="position-absolute filter-dropdown p-3"
                *ngIf="showFilter['price']">
                <div class="filter-brand-check d-flex flex-wrap">
                  <div
                    class="filter-item mb-2"
                    *ngFor="let price of PRICE_FILTER"
                    [class.filter-active]="price.id === activePrice"
                    (click)="filterByPrice($event, price)">
                    <input type="checkbox" />
                    <span>{{ price.label }}</span>
                  </div>
                </div>
                <div class="filter-footer">
                  <a class="cursor-pointer" (click)="resetPrice()">Bỏ chọn</a>
                  <a class="apply-filter" (click)="applyFilter()"
                    >Xem kết quả</a
                  >
                </div>
              </div>
            </div>
            <div
              (click)="toggleFilter($event, 'faceProduct')"
              class="filter-btn hide-filter d-flex align-items-center justify-content-between gap-1 cursor-pointer">
              <span>Mặt đồng hồ</span>

              <div
                class="position-absolute filter-dropdown p-3"
                *ngIf="showFilter['faceProduct']">
                <div class="mb-3">
                  <h6 class="mb-2 text-size-small">Hình dạng</h6>
                  <div class="filter-brand-check d-flex flex-wrap">
                    <div
                      class="filter-item mb-2"
                      *ngFor="let faceShape of FILTER_FACE_SHAPE"
                      [class.filter-active]="
                        faceShape.key === activeFilters['faceShape']
                      "
                      (click)="filterBy($event, 'faceShape', faceShape.key)">
                      <input type="checkbox" />
                      <span>{{ faceShape.label }}</span>
                    </div>
                  </div>
                </div>
                <div>
                  <h6 class="mb-2 text-size-small">Chất liệu kính</h6>
                  <div class="filter-brand-check d-flex flex-wrap">
                    <div
                      class="filter-item mb-2"
                      *ngFor="let glassSurface of FILTER_GLASS_SURFACE_MATERIAL"
                      [class.filter-active]="
                        glassSurface.key === activeFilters['glassSurface']
                      "
                      (click)="
                        filterBy($event, 'glassSurface', glassSurface.key)
                      ">
                      <input type="checkbox" />
                      <span>{{ glassSurface.label }}</span>
                    </div>
                  </div>
                </div>
                <div class="filter-footer">
                  <a class="cursor-pointer" (click)="resetGlassProduct()"
                    >Bỏ chọn</a
                  >
                  <a class="apply-filter" (click)="applyFilter()"
                    >Xem kết quả</a
                  >
                </div>
              </div>
            </div>
            <div
              (click)="toggleFilter($event, 'waterResistance')"
              class="filter-btn hide-filter d-flex align-items-center justify-content-between gap-1 cursor-pointer">
              <span>Kháng nước</span>

              <div
                class="position-absolute filter-dropdown p-3"
                *ngIf="showFilter['waterResistance']">
                <div class="filter-brand-check d-flex flex-wrap">
                  <div
                    class="filter-item mb-2"
                    *ngFor="let waterResistance of FILTER_WATER_RESISTANCE"
                    [class.filter-active]="
                      waterResistance.key === activeFilters['waterResistance']
                    "
                    (click)="
                      filterBy($event, 'waterResistance', waterResistance.key)
                    ">
                    <input type="checkbox" />
                    <span>{{ waterResistance.label }}</span>
                  </div>
                </div>
                <div class="filter-footer">
                  <a
                    class="cursor-pointer"
                    (click)="resetFilter('waterResistance')"
                    >Bỏ chọn</a
                  >
                  <a class="apply-filter" (click)="applyFilter()"
                    >Xem kết quả</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <div
                class="shop-top-bar d-flex justify-content-between align-items-center">
                <div class="product-mode">
                  <ul class="nav shop-item-filter-list" role="tablist">
                    <li class="active">
                      <a class="active grid-view"><i class="fa fa-th"></i></a>
                    </li>
                    <li>
                      <a class="list-view"><i class="fa fa-th-list"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="product-sort d-flex align-items-center">
                  <select
                    class="form-select form-select-sm"
                    (change)="sortByCondition($event)">
                    <option value="newest" selected>Mới nhất</option>
                    <option value="oldest">Cũ nhất</option>
                    <option value="highPopular">Phổ biến</option>
                    <option value="priceASC">Giá (Thấp -> Cao)</option>
                    <option value="priceDESC">Giá (Cao -> Thấp)</option>
                    <option value="highRating">Đánh giá cao</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="productList$ | async as productList">
            <div class="shop-products-wrap mb-4">
              <div class="row">
                <div
                  class="col-lg-4 col-md-6"
                  *ngFor="
                    let product of productList
                      | paginate
                        : {
                            itemsPerPage: 24,
                            currentPage: page,
                            totalItems: productList.length
                          }
                  ">
                  <app-product-item [productItem]="product"></app-product-item>
                </div>
              </div>
            </div>

            <pagination-controls
              previousLabel="Trang trước"
              nextLabel="Trang sau"
              (pageChange)="page = $event"
              class="float-right text-center">
            </pagination-controls>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
