<div class="main-content-wrap shop-page pt-60 pb-60">
  <div class="container">
    <div class="row product-details-inner">
      <div class="col-lg-5 col-md-6">
        <div class="gallery">
          <swiper
            [spaceBetween]="10"
            [navigation]="false"
            [thumbs]="{ swiper: thumbsSwiper }"
            (click)="openSliderImage($event, productItem.images)"
            class="mySwiper2 mb-3 w-100 cursor-pointer">
            <ng-template swiperSlide *ngFor="let image of productItem?.images">
              <img
                [src]="createCloudinaryImageLink(image)"
                alt=""
                class="w-100" />
            </ng-template>
          </swiper>
          <swiper
            (swiper)="thumbsSwiper = $event"
            [loop]="false"
            [spaceBetween]="10"
            [slidesPerView]="slidesPerView"
            [freeMode]="true"
            [watchSlidesProgress]="true"
            class="custome-swiper mb-2 w-100">
            <ng-template
              swiperSlide
              *ngFor="let image of productItem?.images; let index = index">
              <img
                class="image-thumbnail"
                [src]="createCloudinaryThumbLink(image)"
                alt="" />
            </ng-template>
          </swiper>
        </div>
      </div>

      <div class="col-lg-7 col-md-6">
        <div class="product-details-view-content">
          <div class="product-info">
            <h3 class="mb-2">{{ productItem?.name }}</h3>
            <div class="product-rating d-flex align-items-center">
              <ul class="d-flex">
                <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                  <i
                    class="fa-star"
                    [class.fa-solid]="star <= productItem?.avgStar"
                    [class.fa-regular]="star > productItem?.avgStar"></i>
                </ng-container>
              </ul>
              <div class="ms-2">
                (<span class="count">{{ listRating.length }}</span> đánh giá)
              </div>
            </div>
            <div class="price-box">
              <span class="new-price"
                >{{ selectedPrice?.price | formatPrice }}đ</span
              >
            </div>
            <div class="select-size-box mb-3">
              <h6 class="mb-2">Chọn size</h6>
              <div class="size-list">
                <ng-container *ngIf="productSizes$ | async as productSizes">
                  <div
                    class="position-relative border"
                    *ngFor="let size of productSizes">
                    <input
                      class="select-radio cursor-pointer"
                      type="radio"
                      (change)="onSizeChange(size)"
                      [value]="size"
                      [checked]="size.name === selectedSize" />
                    <label
                      [class.active]="size.name === selectedSize"
                      class="select-label text-size-medium d-flex align-items-center justify-content-center"
                      >{{ size.name }}</label
                    >
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="single-add-to-cart mb-4">
              <form
                class="cart-quantity d-flex"
                [formGroup]="addToCartForm"
                (submit)="onAddToCart()">
                <div class="quantity">
                  <div class="cart-plus-minus">
                    <input
                      formControlName="quantity"
                      appAvoidQuantity
                      type="number"
                      class="input-text"
                      min="1"
                      max="50" />
                  </div>
                </div>
                <button
                  class="add-to-cart bg-primary-color color-white px-2 border-0 fw-400 text-size-small d-inline-block cursor-pointer text-center w-100"
                  type="submit">
                  Thêm vào giỏ
                </button>
              </form>
            </div>
            <div class="mb-3">
              <h6 class="mb-2">Thông số {{ productItem?.name }}</h6>
              <ul>
                <li>Thương hiệu: {{ productItem?.categoryName }}</li>
                <li>
                  Chất liệu kính:
                  {{ productItem?.glassSurfaceMaterial | glassSurface }}
                </li>
                <li>Kháng nước: {{ productItem?.waterResistance }}</li>
                <li>Hình dạng: {{ productItem?.faceShape | faceShape }}</li>
              </ul>
            </div>

            <ul class="single-add-actions">
              <li class="add-to-wishlist">
                <a href="wishlist.html"
                  ><i class="fa-regular fa-heart"></i> Thêm vào yêu thích</a
                >
              </li>
            </ul>
            <ul class="stock-cont">
              <li class="product-stock-status">
                Loại sản phẩm: <a href="#">{{ productItem?.categoryName }}</a>
              </li>
              <li class="product-stock-status">
                Thẻ: <a href="#">{{ productItem?.categoryName }}</a>
              </li>
            </ul>
            <div class="share-product-socail-area">
              <p>Chia sẻ sản phẩm</p>
              <ul class="single-product-share">
                <li>
                  <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-description-area mt-60">
      <div class="row">
        <div class="col-lg-12">
          <div class="product-details-tab">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="1">
                <button ngbNavLink class="text-size-medium">Mô tả</button>
                <ng-template ngbNavContent>
                  <div class="product_description_wrap mt-30">
                    <div class="product_desc mb-30">
                      <p
                        class="mb-3"
                        [innerHTML]="productItem?.description"></p>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <button ngbNavLink class="text-size-medium">Đánh giá</button>
                <ng-template ngbNavContent>
                  <ng-container *ngIf="listRating.length; else noRating">
                    <ng-container *ngFor="let rating of listRating">
                      <div class="rating-wrapper my-3 pb-3">
                        <div class="d-flex align-items-center mb-1">
                          <h6 class="customer-name">
                            {{ rating.userName }}
                          </h6>
                          <div class="d-flex align-items-center ms-2">
                            <i class="fa-solid fa-circle-check me-1"></i>
                            <span> Đã mua hàng </span>
                          </div>
                        </div>
                        <p class="mb-1">
                          {{ rating.createdAt | date : "dd-MM-YYYY, h:mm a" }}
                        </p>
                        <div class="mb-2">
                          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                            <i
                              class="fa-star"
                              [class.fa-solid]="star <= rating.star"
                              [class.fa-regular]="star > rating.star"></i>
                          </ng-container>
                        </div>
                        <p>{{ rating.content }}</p>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-template #noRating>
                    <h6 class="py-3">Sản phẩm chưa có đánh giá nào!</h6>
                  </ng-template>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="my-2 px-3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="related-product-area pt-60">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3 class="text-size-xl">Sản phẩm liên quan</h3>
          </div>
        </div>
        <div class="row product">
          <app-swiper-product
            [slidesPerViewBreakPoint]="5"
            [products]="products"></app-swiper-product>
        </div>
      </div>
    </div>

    <div class="related-product-area pt-60">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h3 class="text-size-xl">Sản phẩm bán chạy</h3>
          </div>
        </div>
      </div>
      <div class="row product">
        <app-swiper-product
          [slidesPerViewBreakPoint]="5"
          [products]="highPopularProduct"></app-swiper-product>
      </div>
    </div>
  </div>
</div>
