@import "color";
@import "text-size";

::ng-deep .custome-swiper {
  box-sizing: border-box;

  .swiper-slide {
    opacity: 0.6;
    border: 1px solid transparent;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
    border-color: $gray-lighter;
  }

  .image-thumbnail {
    width: inherit;
    object-fit: cover;
    height: inherit;
  }
}

.mySwiper2 {
  border: 1px solid $gray-lighter;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.product-rating li {
  margin-right: 3px;
  color: $primary-color;
  font-size: $text-medium;

  i {
    font-size: $text-large;
    padding-right: 5px;
  }
}

.product-details-view-content {
  .single-add-to-cart {
    max-width: 190px;

    .add-to-cart {
      letter-spacing: -0.025em;
      height: 40px;
      line-height: 40px;
      text-shadow: none;
      border-radius: 3px;
      transition: 0.3s ease;
    }
  }

  .cart-plus-minus {
    margin-right: 15px;

    input {
      width: 50px;
      height: 40px;
      border: 1px solid #ddd;
      padding: 0 0 0 10px;
    }
  }

  .single-add-actions {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    li {
      display: inline-block;
      margin-right: 15px;
      font-size: $text-medium;
    }
  }

  .stock-cont li {
    margin-bottom: 2px;
  }

  .share-product-social-area {
    margin-top: 20px;

    li {
      display: inline-block;
      margin-left: 10px;
    }

    a {
      height: 30px;
      width: 30px;
      line-height: 30px;
      background: #f1f1f1;
      text-align: center;
      border-radius: 3px;
      color: #333;
    }
  }

  .product-stock-status a {
    display: inline-block;
  }
}

.product-details-view-content .price-box {
  color: #c89979;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.product-details-view-content .price-box .new-price {
  background: none;
  text-decoration: none;
  color: #c89979;
  font-weight: 500;
}

.stock-cont li {
  margin-bottom: 2px;
}

.share-product-socail-area {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.share-product-socail-area li a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  background: #f1f1f1;
  text-align: center;
  border-radius: 3px;
  color: #333;
}

.share-product-socail-area li {
  display: inline-block;
  margin-left: 10px;
}

.product-description-area {
  border: 1px solid #ddd;
  margin-top: 60px;
  border-radius: 3px;
  padding: 0px 20px;
}

.nav-link.active {
  background-color: unset;
  border: unset;
  color: $primary-color;
}

.nav-link {
  border: unset;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;

  &:hover {
    border: unset;
    color: $primary-color;
  }
}

.select-size-box {
  .size-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }

  .select-label {
    height: 48px;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: rgb(229, 229, 229) 0px 0px 0px;
  }

  .select-radio {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }

  .select-label.active {
    box-shadow: rgb(17, 17, 17) 0px 0px 0px 1px;
  }
}

.fa-star {
  color: #ffca08;
}

.fa-circle-check {
  color: green;
}

.rating-wrapper:not(:nth-last-child(1)) {
  border-bottom: 1px solid $gray-lighter;
}

.customize-slider-image {
  position: relative;
}

@media screen and (max-width: 992px) {
  .product-description-area {
    padding: 0 10px;
  }
}
