<div class="page_content_wrap pt-60 pb-60">
  <div class="container">
    <form
      [formGroup]="forgotPasswordForm"
      (submit)="onSubmitForgotPassword(this.forgotPasswordForm.value)">
      <h6 class="mb-4 color-gray">
        Quên mật khẩu? Vui lòng nhập địa chỉ email của bạn. Bạn sẽ nhận liên kết
        để tạo mật khẩu mới qua email
      </h6>
      <div class="form-group pb-4">
        <label class="form-label color-gray">Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
      <button class="btn btn-primary">Đặt lại mật khẩu</button>
    </form>
  </div>
</div>
