@import "color";
@import "text-size";
@import "variables";

.dashboard-upper-info {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  margin-bottom: 60px;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
  border-right: 1px solid #ebebeb;
  padding: 30px 20px;
}

.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info p {
  margin-bottom: 0;
}

.dashboard-list li:first-child {
  border-top: 1px solid #ebebeb;
}

.dashboard-list li a {
  border-bottom: 1px solid #ebebeb;
  color: #222222;
  display: block;
  font-size: $text-small;
  padding: 12px 0;
  text-transform: capitalize;
}

.dashboard-content {
  border: 1px solid #ebebeb;
  padding: 30px;

  h3 {
    border-bottom: 1px solid #ebebeb;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    text-transform: capitalize;
  }
}

.dashboard-upper-info a.view-cart {
  background: $primary-color;
  color: $white;
  font-size: $text-small;
  padding: 8px 12px;
  text-transform: capitalize;
}

table th {
  background-color: #f6f6f6;
}

.dashboard-content .view {
  background: $primary-color;
  color: $white;
  font-size: $text-small;
  padding: 8px 12px;
  text-transform: capitalize;
  display: inline;
}

.default-btn {
  background-color: $primary-color;
  margin-top: 15px;
  padding: 6px 28px;
  color: $white;
}
