@import "color";
@import "text-size";
@import "variables";

.dashboard-upper-info {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  margin-bottom: 60px;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
  border-right: 1px solid #ebebeb;
  padding: 30px 20px;
}

.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info p {
  margin-bottom: 0;
}

.dashboard-content {
  border: 1px solid #ebebeb;
  padding: 30px;
}

.dashboard-upper-info a.view-cart {
  background: $primary-color;
  color: $white;
  font-size: $text-small;
  padding: 8px 12px;
  text-transform: capitalize;
}

.nav-item {
  border-bottom: 1px solid #ebebeb;
  &:first-child {
    border-top: 1px solid #ebebeb;
  }
}

.nav-link {
  color: #000;
  font-weight: 500;

  &.active {
    color: $primary-color;
  }
}
