<div class="main-content-wrap pt-60 pb-60 my-account-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="account-dashboard">
          <div class="dashboard-upper-info">
            <div class="row align-items-center no-gutters">
              <div class="col-lg-3 col-md-12">
                <div class="d-single-info">
                  <p class="user-name">
                    Xin chào <span>{{ userInfo.name }}</span>
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-12">
                <div class="d-single-info">
                  <p>Cần hỗ trợ? Hỗ trợ khách hàng</p>
                  <p>lemailinh22&#64;gmail.com</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-12">
                <div class="d-single-info">
                  <p>E-mail cho chúng tôi</p>
                  <p>lemailinh22&#64;gmail.com</p>
                </div>
              </div>
              <div class="col-lg-2 col-md-12">
                <div class="d-single-info text-lg-center">
                  <a
                    class="view-cart cursor-pointer text-center"
                    (click)="router.navigate(['/cart']).then()">
                    <i class="fa-solid fa-cart-plus"></i>
                    Xem giỏ hàng
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-2">
              <ul class="nav">
                <div class="w-100">
                  <ng-container *ngFor="let item of ACCOUNT_TAB">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        [routerLink]="item.link"
                        routerLinkActive="active"
                        >{{ item.label }}</a
                      >
                    </li>
                  </ng-container>
                  <li class="nav-item cursor-pointer" (click)="logout()">
                    <a class="nav-link">Đăng xuất</a>
                  </li>
                </div>
              </ul>
            </div>
            <div class="col-md-12 col-lg-10">
              <div class="dashboard-content">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
