<form (keydown.enter)="$event.preventDefault()">
  <div class="modal-content border-0">
    <div class="modal-header">
      <h5 class="modal-title">This is title</h5>
      <div class="modal-button">
        <button type="button" data-dismiss="modal" (click)="handleCloseModal()">
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group pb-4 col-12" required>
          <label class="form-label">Tên nhóm sản phẩm</label>
          <input type="text" class="form-control text-size-small" />
        </div>
      </div>
    </div>
    <div class="modal-footer border-0">
      <div class="modal-button">
        <button type="button" class="btn btn-danger">
          <span>Huỷ chỉnh sửa</span>
        </button>
        <button type="submit" class="btn btn-success ms-2">Lưu</button>
        <button class="btn btn-success ms-2">Sửa</button>
      </div>
    </div>
  </div>
</form>
