<div class="purchase-order">
  <h3>Đơn đã mua</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let header of PURCHASE_ORDER_HEADER">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList; let index = index">
          <td>{{ index }}</td>
          <td>{{ order.createdAt | date : "dd-MM-YYYY" }}</td>
          <td>{{ order.status | orderStatus }}</td>
          <td>{{ order.totalPrice | formatPrice }}đ</td>
          <td>{{ order.paymentStatus | paymentStatus }}</td>
          <td>
            <a
              [ngbTooltip]="'Xem chi tiết'"
              class="view cursor-pointer me-2 bg-primary-color"
              (click)="directOrderDetail(order.id)"
              ><i class="fa-regular fa-eye"></i
            ></a>
            <a
              [ngbTooltip]="'Huỷ đơn'"
              *ngIf="order.status === 'waitVerify'"
              class="view cancel cursor-pointer bg-black"
              (click)="onCancelOrder(order.id)">
              <i class="fa-regular fa-circle-xmark"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
