<div class="purchase-order">
  <h3>Đơn đã mua</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let header of PURCHASE_ORDER_HEADER">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList; let index = index">
          <td>{{ index }}</td>
          <td>{{ order.createdAt | date : "dd-MM-YYYY" }}</td>
          <td>{{ order.status | orderStatus }}</td>
          <td>{{ order.totalPrice | formatPrice }}</td>
          <td>{{ order.paymentStatus | paymentStatus }}</td>
          <td>
            <a class="view cursor-pointer me-2 bg-primary-color">Chi tiết</a>
            <a
              class="view cancel cursor-pointer bg-black"
              (click)="onCancelOrder(order.id)"
              >Huỷ đơn</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
