@import "color";
@import "text-size";
@import "variables";

.default-btn {
  background-color: $primary-color;
  padding: 6px 28px;
  color: $white;
}

h3 {
  border-bottom: 1px solid #ebebeb;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

.search-suggestion {
  left: 0;
  right: 0;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 4;

  .search-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 16px;

    &:hover {
      background-color: aliceblue;
    }

    i {
      color: $blue;
      margin-right: 6px;
      font-size: 18px;
    }
    span {
      font-size: 16px;
    }
  }
}
