<div class="modal-content border-0">
  <div class="modal-body">
    <div class="text-end">
      <button type="button" (click)="onCloseModal()">
        <span class="material-symbols-outlined"> close </span>
      </button>
    </div>
    <div class="modal-inner-area">
      <div class="row gx-3 product-details-inner">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="gallery">
            <swiper
              [spaceBetween]="10"
              [navigation]="false"
              [thumbs]="{ swiper: thumbsSwiper }"
              class="mySwiper2 mb-3 w-100">
              <ng-template
                swiperSlide
                *ngFor="let image of productItem?.images">
                <img
                  [src]="createCloudinaryImageLink(image)"
                  alt=""
                  class="w-100" />
              </ng-template>
            </swiper>
            <swiper
              (swiper)="thumbsSwiper = $event"
              [loop]="false"
              [spaceBetween]="10"
              [slidesPerView]="slidesPerView"
              [freeMode]="true"
              [watchSlidesProgress]="true"
              class="mySwiper mb-2 w-100">
              <ng-template
                swiperSlide
                *ngFor="let image of productItem?.images; let index = index">
                <img
                  class="image-thumbnail"
                  [src]="createCloudinaryThumbLink(image)"
                  alt="" />
              </ng-template>
            </swiper>
          </div>
          <div [innerHTML]="productItem?.description"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="product-details-view-content">
            <div class="product-info">
              <h3 class="mb-2">{{ productItem?.name }}</h3>
              <div class="product-rating d-flex align-items-center">
                <ul class="d-flex">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <i
                      class="fa-star"
                      [class.fa-solid]="star <= productItem.avgStar"
                      [class.fa-regular]="star > productItem.avgStar"></i>
                  </ng-container>
                </ul>
                <div class="ms-2">
                  (<span class="count">{{ listRating.length }}</span> đánh giá)
                </div>
              </div>
              <div
                class="price-box primary-color fw-500 mb-3 mt-2 w-100 text-size-large">
                <span class="new-price fw-500 primary-color"
                  >{{ selectedPrice?.price | formatPrice }}đ</span
                >
              </div>
              <div class="select-size-box mb-3">
                <h6 class="mb-2">Chọn size</h6>
                <div class="size-list">
                  <ng-container *ngIf="productSizes$ | async as productSizes">
                    <div
                      class="position-relative border"
                      *ngFor="let size of productSizes">
                      <input
                        class="select-radio cursor-pointer"
                        type="radio"
                        (change)="onSizeChange(size)"
                        [value]="size"
                        [checked]="size.name === selectedSize" />
                      <label
                        [class.active]="size.name === selectedSize"
                        class="select-label text-size-medium d-flex align-items-center justify-content-center"
                        >{{ size.name }}</label
                      >
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="single-add-to-cart mb-4">
                <form
                  class="cart-quantity d-flex"
                  [formGroup]="addToCartForm"
                  (submit)="onAddToCart()">
                  <div class="quantity">
                    <div class="cart-plus-minus">
                      <input
                        appAvoidQuantity
                        type="number"
                        value="1"
                        min="1"
                        max="50"
                        formControlName="quantity" />
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="add-to-cart bg-primary-color border-0 cursor-pointer color-white text-size-small fw-400 px-2 d-inline-block text-center w-100">
                    Thêm vào giỏ
                  </button>
                </form>
              </div>
              <div class="mb-3">
                <h6 class="mb-2">Thông số {{ productItem?.name }}</h6>
                <ul>
                  <li>Thương hiệu: {{ productItem?.categoryName }}</li>
                  <li>
                    Chất liệu kính:
                    {{ productItem?.glassSurfaceMaterial | glassSurface }}
                  </li>
                  <li>Kháng nước: {{ productItem?.waterResistance }}</li>
                  <li>Hình dạng: {{ productItem?.faceShape | faceShape }}</li>
                </ul>
              </div>
              <ul class="stock-cont">
                <li class="product-stock-status">
                  Loại sản phẩm:
                  <a href="#">{{ productItem?.categoryName }}</a>
                </li>
                <li class="product-stock-status">
                  Thẻ:
                  <a href="#">{{ productItem?.categoryName }}</a>
                </li>
              </ul>
              <div class="share-product-social-area d-flex align-items-center">
                <p>Chia sẻ sản phẩm này</p>
                <ul class="single-product-share">
                  <li>
                    <a>
                      <i class="fa-brands fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="fa-brands fa-pinterest"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
