@import "text-size";
@import "color";

.heading {
  color: $primary-color;
  margin: 0 auto;
  text-align: center;
}

.heading-container {
  margin-bottom: 30px;
}

.ext-gt {
  max-width: 600px;
  margin: auto;
  text-align: justify;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  p {
    margin-bottom: 12px;
  }
}

.store-list-container {
  max-width: 600px;
}

.store-item {
  border: 1px solid #bdbdbd;
  border-radius: 8px;

  h4 {
    border-bottom: 1px solid #bdbdbd;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1;
    font-style: normal;
    background: #f1f3f4;
  }

  .ct_cd {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1;

    p {
      line-height: 20px;
      font-style: normal;
    }
  }
}
