<div class="modal-content border-0">
  <div class="modal-header border-0">
    <div class="text-end">
      <button type="button" (click)="onCloseModal()">
        <span class="material-symbols-outlined"> close </span>
      </button>
    </div>
    <h5 class="modal-title text-center">Chào mừng đến với WatchStore</h5>
  </div>
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-tabs"
    (navChange)="onNavChange($event)">
    <li [ngbNavItem]="1">
      <button ngbNavLink class="text-size-medium">Đăng nhập</button>
      <ng-template ngbNavContent>
        <form [formGroup]="loginForm" (submit)="onLoginFormSubmit()">
          <div class="modal-body border-bottom">
            <div class="row">
              <div class="form-group pb-4 col-12" required>
                <label class="form-label">Email*</label>
                <input
                  required
                  formControlName="email"
                  type="text"
                  class="form-control"
                  placeholder="Nhập email..." />
                <small
                  *ngIf="
                    loginControl['email'].errors &&
                    loginControl['email'].touched
                  "
                  >Vui lòng nhập đúng định dạng email</small
                >
              </div>
              <div class="form-group pb-4 col-12" required>
                <label class="form-label">Mật khẩu</label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="Nhập mật khẩu..." />
                <small
                  *ngIf="
                    loginControl['password'].errors &&
                    loginControl['password'].touched
                  ">
                  Mật khẩu cần phải có cả chữ và số
                </small>
              </div>
              <div class="buttons col-12">
                <button
                  (keydown.enter)="onLoginFormSubmit()"
                  class="btn btn-primary w-100 mb-2 sign-in-btn"
                  type="submit">
                  Đăng nhập
                </button>
                <button
                  (click)="redirectToResetPassword()"
                  type="button"
                  class="btn btn-outline-primary w-100 forgot-password-btn pb-0">
                  Quên mật khẩu?
                </button>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <span class="text-center">Hoặc:</span>
              <button
                class="btn btn-primary color-black w-100 facebook-btn authen-btn cursor-pointer d-flex align-items-center bg-white w-100 p-0 justify-content-center">
                <i class="fa-brands fa-facebook text-size-large me-2"></i>
                <span class="text-size-small">Đăng nhập với Facebook</span>
              </button>
              <button
                class="btn btn-primary color-black w-100 google-btn authen-btn cursor-pointer d-flex align-items-center bg-white w-100 p-0 justify-content-center">
                <i class="fa-brands fa-google text-size-large me-2"></i>
                <span class="text-size-small">Đăng nhập với Google</span>
              </button>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink class="text-size-medium">Đăng ký</button>
      <ng-template ngbNavContent>
        <form [formGroup]="registerForm" (submit)="onRegisterFormSubmit()">
          <div class="modal-body border-bottom">
            <div class="row">
              <div class="form-group pb-4 col-12" required>
                <label class="form-label">Họ và tên</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập họ và tên..."
                  formControlName="name" />
                <small
                  *ngIf="
                    registerControl['name'].errors &&
                    registerControl['name'].touched
                  "
                  >Đây là trường bắt buộc</small
                >
              </div>
              <div class="form-group pb-4 col-12" required>
                <label class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập email..."
                  formControlName="email" />
                <small
                  *ngIf="
                    registerControl['email'].errors &&
                    registerControl['email'].touched
                  "
                  >Bạn cần nhập đúng định dạng email</small
                >
              </div>
              <div class="form-group pb-4 col-12" required>
                <label class="form-label">Số diện thoại</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập số điện thoại..."
                  formControlName="phone" />
                <small
                  *ngIf="
                    registerControl['phone'].errors &&
                    registerControl['phone'].touched
                  "
                  >Đây không phải là số điện thoại</small
                >
              </div>
              <div class="form-group pb-4 col-12" required>
                <label class="form-label">Mật khẩu</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Nhập mật khẩu..."
                  formControlName="password" />
                <small
                  *ngIf="
                    registerControl['password'].errors &&
                    registerControl['password'].touched
                  "
                  >Mật khẩu cần có cả chữ và số</small
                >
              </div>
              <div class="form-group pb-4 col-12" required>
                <label class="form-label">Giới tính</label>
                <select formControlName="gender" class="form-select fs-14">
                  <option value="male">Nam</option>
                  <option value="female">Nữ</option>
                </select>
              </div>
              <div class="form-group pb-4 col-12" required>
                <div class="position-relative">
                  <div>
                    <label class="form-label">Địa chỉ</label>
                    <input
                      type="text"
                      placeholder="Nhập địa chỉ"
                      class="form-control"
                      formControlName="address"
                      #suggestionSearch
                      (focus)="showSearchSuggestion()" />
                    <small
                      *ngIf="
                        registerControl['address'].errors &&
                        registerControl['address'].touched
                      "
                      >Đây là trường bắt buộc</small
                    >
                  </div>
                  <ng-container
                    *ngIf="searchSuggestion$ | async as searchSuggestion">
                    <div
                      class="search-suggestion bg-white position-absolute"
                      *ngIf="showSuggestion">
                      <div
                        class="search-item"
                        *ngFor="let search of searchSuggestion"
                        (mousedown)="patchAddressToForm(search)">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>{{ search.formattedAddress }}</span>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="form-group pb-4 col-12" required>
                <label class="form-label">Ngày sinh</label>
                <input
                  type="date"
                  formControlName="dateOfBirth"
                  class="form-control" />
                <small
                  *ngIf="
                    registerControl['dateOfBirth'].errors &&
                    registerControl['dateOfBirth'].touched
                  "
                  >Đây là trường bắt buộc</small
                >
              </div>
              <div class="buttons col-12">
                <button
                  (keydown.enter)="onRegisterFormSubmit()"
                  class="btn btn-primary w-100 mb-2 sign-in-btn"
                  type="submit">
                  Tạo tài khoản
                </button>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <span class="text-center">Hoặc:</span>
              <button
                class="btn btn-primary color-black w-100 facebook-btn authen-btn cursor-pointer d-flex align-items-center bg-white w-100 p-0 justify-content-center">
                <i class="fa-brands fa-facebook text-size-large me-2"></i>
                <span class="text-size-small">Đăng nhập với Facebook</span>
              </button>
              <button
                class="btn btn-primary color-black w-100 google-btn authen-btn cursor-pointer d-flex align-items-center bg-white w-100 p-0 justify-content-center">
                <i class="fa-brands fa-google text-size-large me-2"></i>
                <span class="text-size-small">Đăng nhập với Google</span>
              </button>
            </div>
          </div>
        </form>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="my-2 px-3"></div>
</div>
