@import "color";
@import "text-size";

.product-area {
  margin-top: 89px;
}

.product-tab-menu li a.active {
  color: $primary-color;
}

.product-tab-menu li a {
  display: block;
  padding: 0;
  margin-right: 15px;
  font-size: $text-medium;
  font-weight: 500;
  text-transform: uppercase;
}

.newletter-wrap {
  border-top: 1px solid $gray-lighter;
}

.newsletter-title {
  h3 {
    font-size: 24px;
    line-height: 30px;
  }
}

.newsletter-footer {
  input {
    background: #f1f1f1;
    color: #888888;
    height: 45px;
    line-height: 45px;
    padding: 0 140px 0 20px;
    text-align: left;
    white-space: nowrap;
    border-radius: 3px;
  }

  .subscribe-btn {
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
  }
}
