@import "text-size";
@import "color";
@import "variables";

.table-content {
  table {
    background: #ffffff none repeat scroll 0 0;
    border-color: #ebebeb;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
  }

  th,
  td {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }

  table td {
    border-top: medium none;
    font-size: 16px;
    padding: 20px 10px;
    vertical-align: middle;
    min-width: 140px;
  }
}

.cart-table {
  .coupon-all {
    margin-top: 50px;
  }

  .coupon2 {
    margin-bottom: 40px;

    input {
      margin-right: 8px;
    }
  }

  input.submit {
    padding: 8px 15px;
    background: $black;
    color: $white;
    border: 1px solid $black;
  }

  .continue-btn {
    padding: 9px 15px;
    background: $black;
    color: $white;
  }

  .coupon {
    h3 {
      color: $black;
      font-size: $text-large;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: -8px;
    }

    button {
      border: 1px solid #999999;
      font-size: $text-small;
      margin-right: 10px;
      padding: 6px 10px;
      width: 130px;

      .button {
        border: 0 none;
        height: 36px;
        letter-spacing: 1px;
        line-height: 36px;
        padding: 0 14px;
        width: inherit;
      }
    }

    .input-text {
      padding: 6px 8px;
    }
  }
}

.cart-page-total {
  margin-top: 40px;

  ul {
    border: 1px solid #dddddd;
  }

  li {
    border-bottom: 1px solid #ebebeb;
    color: #252525;
    font-size: 15px;
    font-weight: 700;
    list-style: outside none none;
    padding: 10px 30px;
  }

  span {
    float: right;
  }

  .proceed-checkout-btn {
    margin-top: 30px;
  }
}

.plantmore-product-quantity {
  & > input {
    text-align: center;
    width: 48px;
    border: 1px solid $black;
  }
}
