<div class="main-content-wrap pb-60 pt-60 checkout-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="coupon-area">
          <div class="coupon-accordion">
            <div class="coupon-content">
              <div class="coupon-info">
                <form>
                  <p class="checkout-coupon">
                    <input type="text" placeholder="Mã khuyến mãi" />
                    <button type="submit" class="btn button-apply-coupon">
                      Thêm mã
                    </button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="orderForm" (submit)="onPlaceOrder()">
      <div class="checkout-details-wrapper">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="billing-details-wrap">
              <h3 class="shoping-checkboxt-title">Thông tin người nhận</h3>
              <div class="row">
                <ng-container formGroupName="order">
                  <div class="col-lg-12 form-group pb-4" required>
                    <label class="form-label">Họ và tên</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="customerName" />
                  </div>
                  <div class="col-lg-12 form-group pb-4" required>
                    <label class="form-label">Số điện thoại</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="phone" />
                  </div>
                  <div class="col-lg-12 form-group pb-4" required>
                    <label class="form-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="email" />
                  </div>
                  <div class="col-lg-12 form-group pb-4" required>
                    <div class="position-relative">
                      <div>
                        <label class="form-label">Địa chỉ nhận hàng</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="receivedAddress"
                          #suggestionSearch
                          (focus)="showSearchSuggestion()" />
                      </div>
                      <ng-container
                        *ngIf="searchSuggestion$ | async as searchSuggestion">
                        <div
                          class="search-suggestion bg-white position-absolute"
                          *ngIf="showSuggestion">
                          <div
                            class="search-item"
                            *ngFor="let search of searchSuggestion"
                            (mousedown)="patchAddressToForm(search)">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>{{ search.formattedAddress }}</span>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-lg-12 form-group pb-4">
                    <div class="position-relative">
                      <div>
                        <label class="form-label">Sử dụng coupon</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="couponCode"
                          (focus)="couponSuggestion = true"
                          (focusout)="couponSuggestion = false" />
                      </div>
                      <ng-container *ngIf="coupons$ | async as coupons">
                        <div
                          class="search-suggestion bg-white position-absolute"
                          *ngIf="couponSuggestion">
                          <div
                            (mousedown)="onClickItem(coupon.couponCode)"
                            class="coupon-item cursor-pointer"
                            *ngFor="let coupon of coupons">
                            <p>{{ coupon.couponCode }}</p>
                            <p>
                              Giảm {{ coupon.decrease | formatPrice }}
                              {{ coupon.unit | getTypePriceCoupon }}
                            </p>
                            <p
                              *ngIf="
                                coupon.totalPriceFrom && coupon.totalPriceTo
                              ">
                              Áp dụng cho đơn hàng có giá từ
                              {{ coupon.totalPriceFrom | formatPrice }}đ đến
                              {{ coupon.totalPriceTo | formatPrice }}đ
                            </p>
                            <ng-container
                              *ngIf="coupon.productPriceIds?.length">
                              <p>Áp dụng cho các sản phẩm</p>
                              <span
                                *ngFor="
                                  let productPrice of coupon?.productPriceDetails;
                                  let last = last
                                ">
                                {{ productPrice.productName }} ({{
                                  productPrice.productSizeName
                                }}){{ !last ? ", " : "" }}
                              </span>
                            </ng-container>
                            <p>
                              Hạn sử dụng:
                              {{ coupon.beginAt | date : "dd-MM-YYYY" }} đến
                              {{ coupon.finishAt | date : "dd-MM-YYYY" }}
                            </p>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-lg-12 form-group pb-4">
                    <label class="form-label">Ghi chú</label>
                    <textarea
                      class="w-100 form-control"
                      rows="10"
                      formControlName="note"></textarea>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="your-order-wrapper">
              <h3 class="shoping-checkboxt-title">Chi tiết đơn hàng</h3>
              <div class="your-order-wrap">
                <div class="your-order-table table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th class="product-name">Sản phẩm</th>
                        <th class="product-total">Tổng tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="productList$ | async as productList">
                        <tr
                          class="cart_item"
                          *ngFor="let product of productList">
                          <td class="product-name">
                            <a
                              [routerLink]="['/product', product.productId]"
                              target="_blank"
                              class="d-flex align-items-center justify-content-between">
                              <img
                                [src]="
                                  createCloudinaryImageLink(
                                    product.productCoverImage,
                                    70,
                                    70
                                  )
                                "
                                alt="" />
                              <div>
                                <p>{{ product.productName }}</p>
                                <p class="product-quantity">
                                  Số lượng: {{ product.quality }}
                                </p>
                              </div>
                            </a>
                          </td>
                          <td class="product-total">
                            <span class="amount"
                              >{{
                                product.price * product.quality | formatPrice
                              }}đ</span
                            >
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                    <tfoot>
                      <tr class="cart-subtotal">
                        <th>Tổng hoá đơn</th>
                        <td>
                          <span class="amount">{{ total | formatPrice }}đ</span>
                        </td>
                      </tr>
                      <tr class="shipping">
                        <th>Phí vận chuyển</th>
                        <td>{{ deliveryCharge | formatPrice }}đ</td>
                      </tr>
                      <tr class="shipping">
                        <th>Khuyến mãi</th>
                        <td>- {{ (decreaseMoney | formatPrice) || 0 }}đ</td>
                      </tr>
                      <tr class="order-total">
                        <th>Tổng thanh toán</th>
                        <td>
                          <strong
                            ><span class="amount">
                              {{
                                total + deliveryCharge - (decreaseMoney || 0)
                                  | formatPrice
                              }}đ
                            </span></strong
                          >
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="payment-method">
                  <div class="payment-accordion">
                    <ng-container formGroupName="order">
                      <h5>Phương thức thanh toán</h5>
                      <div class="cod">
                        <input
                          class="form-check-input me-2"
                          type="radio"
                          name="paymentType"
                          id="paymentType1"
                          value="0"
                          formControlName="paymentType" />
                        <label class="form-check-label" for="paymentType1">
                          Thanh toán tiền mặt khi nhận hàng (COD)
                        </label>
                      </div>
                      <div class="cod">
                        <input
                          class="form-check-input me-2"
                          type="radio"
                          name="paymentType"
                          id="paymentType2"
                          value="1"
                          formControlName="paymentType" />
                        <label class="form-check-label" for="paymentType2">
                          Thanh toán online
                        </label>
                      </div>
                    </ng-container>
                  </div>
                  <div class="order-button-payment">
                    <button type="submit">Đặt hàng</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
