@import "color";

.coupon-accordion {
  h3 {
    background: #f6f6f6;
    border-top: 3px solid $primary-color;
    color: #515151;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 30px;
    padding: 1em 2em 1em 3.5em;
    position: relative;
    text-transform: capitalize;

    .coupon {
      color: $primary-color;
      cursor: pointer;
      transition: 0.4s;
    }
  }
}

.coupon-content {
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  padding: 20px;
  display: none;
}

.coupon-info p.form-row-first {
  float: left;
  width: 48%;
}

.coupon-input {
  label {
    display: block;
    font-size: 14px;
  }

  span.required {
    color: red;
  }

  input {
    border: 1px solid #999999;
    color: $black;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
  }
}

.coupon-info p.form-row-last {
  float: right;
  width: 48%;
}

.clear {
  clear: both;
}

.coupon-info .remember {
  margin-left: 10px;
}

.coupon-info .remember span {
  margin-left: 5px;
}

.shoping-checkboxt-title {
  border-bottom: 1px solid #dddddd;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.shoping-checkboxt-title {
  border-bottom: 1px solid #dddddd;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.your-order-wrap {
  background: #f6f6f6;
}

.your-order-table {
  padding: 20px 30px;

  table td,
  table th {
    border-bottom: 1px solid #d8d8d8;
    border-right: medium none;
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
  }

  table th {
    border-top: medium none;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
  }
}

.payment-method {
  padding: 20px 30px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.payment-accordion p {
  font-size: 14px;
  padding-left: 16px;
}

.payment-accordion:not(:last-child) p {
  padding-bottom: 16px;
}

.order-button-payment {
  margin-top: 30px;

  button {
    background: $primary-color;
    border: medium none;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    text-transform: uppercase;
    width: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.search-suggestion {
  left: 0;
  right: 0;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 4;

  .search-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 16px;

    &:hover {
      background-color: aliceblue;
    }

    i {
      color: $blue;
      margin-right: 6px;
      font-size: 18px;
    }
    span {
      font-size: 16px;
    }
  }
}

.cod {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.coupon-item {
  padding: 10px;

  &:hover {
    color: $primary-color;
  }
}
