<div class="blog-area mb-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let blog of BLOGS">
        <div class="single-latest-blog">
          <div class="aritcles-content mb-30 pt-3">
            <div
              class="author-name fw-500 d-flex text-size-x-small text-capitalize">
              post by: {{ blog.authorName }} -
              {{ blog.postedAt }}
            </div>
            <h4>{{ blog.articlesName }}</h4>
          </div>
          <div class="articles-image overflow-hidden position-relative">
            <a>
              <img [src]="blog.articlesImage" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
