@import "color";
@import "text-size";

.aritcles-content {
  border-top: 1px solid $gray-lighter;
}

.author-name {
  color: #222;
  margin-bottom: 11px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

.articles-name {
  line-height: 24px;
}
